<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style>
</style>

</head>

<body lang=EN-GB link=blue vlink="#954F72">

<div>

<p>Hi Dude !</span></p>

<p></p>

<p>How are you?</p>

<p>Here is the table:</p>
 <p></p>
<table border=0 cellspacing=0 cellpadding=0 width=0>
 <tr>
  <td><p><b><span>Project</span></b></p></td>
  <td><p><b><span>Environment</span></b></p></td>
  <td><p><b><span>Release Date Plan</span></b></p></td>
 </tr>
{% for value in values %}
 <tr style='height:15.75pt'>
  <td valign=bottom >
  <p><span>{{ value[0] }}</span></p>
  </td>
  <td valign=bottom>
  <p><span >{{ value[1] }}</span></p>
  </td>
  <td valign=bottom >
  <p ><span>{{ value[2] }}</span></p>
  </td>
 </tr>
{% endfor %}
</table>


<p>Multi ranges table</p>
<table border=0 cellspacing=0 cellpadding=0 width=0>
  <tr>
   <td><p><b><span>column1</span></b></p></td>
   <td><p><b><span>column2</span></b></p></td>
   <td><p><b><span>column3</span></b></p></td>
  </tr>
 {% for value in named_ranges.release_table %}
  <tr style='height:15.75pt'>
   <td valign=bottom >
   <p><span>{{ value[0] }}</span></p>
   </td>
   <td valign=bottom>
   <p><span >{{ value[1] }}</span></p>
   </td>
   <td valign=bottom >
   <p ><span>{{ value[2] }}</span></p>
   </td>
  </tr>
 {% endfor %}
 </table>
 
<p>Example cell value:</p>
<p>{{cell_values.example_cell}}</p>
<p></p>
<p><span>Br.:<br>
DevDave</span></p>

</div>

</body>

</html>
